{% extends "base.html" %}

{% block style %}
    <style>
        ul.errorlist {
            padding: 0px;
            width: 100%;
            list-style-type: none;
            margin-top: .25rem;
            color: #dc3545;
        }
    </style>
{% endblock %}
{% block title %}Reset your password{% endblock %}

{% block content %}
    <div class="jumbotron ">
        <div class="container" h-100 >
            <h4 class="row d-flex justify-content-center align-self-center h-100">

                <h1>Reset your password</h1>
                {% if validlink %}
                <h4>Please enter your new password twice:</h4>
                    <form method="post">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <div class="mt-3 "><input type="submit" value="Change Password" class="btn btn-success btn-md"></div>
                    </form>
                {% else %}
                    <p>The password reset link was invalid, possibly it has already been used. Please request a new password reset.</p>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}