{% extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}

{% block style %}{% endblock %}

{% block title %} Change password {% endblock %}

{% block content %}
<div class="container">
    <div class="row bg-light m-5">
        {% include 'account/account_sidebar.html' %}
        <div class="col-md-8 justify-content-center border rounded">
                <h1>Change your password</h1>
                <p>Use the form below to change your password.</p>
                <form method="POST">
                    {{ form.old_password|as_crispy_field }}
                    {{ form.new_password1|as_crispy_field }}
                    {{ form.new_password2|as_crispy_field }}
                    <div class="d-flex justify-content-center mb-2"><input type="submit" value="Change" class="btn btn-danger btn-lg "></div>
                    {% csrf_token %}
                </form>
        </div>
    </div>
</div>
{% endblock %}