<div class="col-md-4 sidebar">
    <nav class="nav nav-pills flex-column mt-2">
        {% with request.resolver_match.url_name as url_name %}
        <a class="nav-link mb-1 {% if url_name == 'user_edit' %}active{% endif %}" href="{% url 'user_edit' %}">Profile</a>
        <a class="nav-link mb-1 {% if url_name == 'password_change' %}active{% endif %}" href="{% url 'password_change' %}">Change Password</a>
        <a class="nav-link mb-1 {% if url_name == 'address_book' %}active{% endif %}" href="{% url 'address_book' %}">Address Book</a>
        {% endwith %}
    </nav>
</div>
